<section class="px-4 sm:px-6 py-12 md:py-16 bg-neutral-950 text-sm md:text-base">
  <div class="max-w-6xl mx-auto">
    <h2 class="text-white text-3xl sm:text-4xl md:text-6xl text-center mb-8">About</h2>

    <div class="space-y-6">
      <p>
        This project is led by <a href="https://relaycorp.tech/">Relaycorp</a>, and we built it
        initially thanks to funding from <a href="https://opentech.fund/">Open Technology Fund</a>.
      </p>

      <p>
        The word <em>vera</em> is <a href="https://www.idolinguo.org.uk/general.htm">Ido</a> for <em
          >authentic</em
        >, and it's pronounced VEH-rah (with a trilled R).
      </p>
    </div>
  </div>
</section>
