<section class="bg-black text-white">
  <div
    class="flex flex-col md:flex-row justify-between items-start gap-16 px-6 py-24 max-w-6xl mx-auto"
  >
    <div class="max-w-sm">
      <h2 class="text-5xl font-mono font-bold">Key benefits</h2>
      <p class="mt-4 font-mono">
        Experience the advantages of our decentralized approach that puts security and usability
        first.
      </p>
    </div>

    <ul class="space-y-8 font-mono text-lg">
      <li class="flex items-center gap-4">
        <svg
          class="w-6 h-6 text-green-500 shrink-0"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M20 6L9 17L4 12"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
        <span>Secure and decentralised and more text to be added here</span>
      </li>
      <li class="flex items-center gap-4">
        <svg
          class="w-6 h-6 text-green-500 shrink-0"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M20 6L9 17L4 12"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
        <span>User and developer friendly and more text to be added</span>
      </li>
      <li class="flex items-center gap-4">
        <svg
          class="w-6 h-6 text-green-500 shrink-0"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M20 6L9 17L4 12"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
        <span>Open standards and open source and more text to be added</span>
      </li>
      <li class="flex items-center gap-4">
        <svg
          class="w-6 h-6 text-green-500 shrink-0"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M20 6L9 17L4 12"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
        <span>Offline verification and more text to be added here</span>
      </li>
    </ul>
  </div>
</section>
