---
import checkmarkIcon from '../../assets/icons/checkmark.svg?raw';
---
<section>
  <div
    class="flex flex-col md:flex-row justify-between items-start gap-16 px-6 py-24 max-w-6xl mx-auto"
  >
    <div class="max-w-sm">
      <h2 class="text-5xl font-mono font-bold">Key benefits</h2>
      <p class="mt-4">
        Experience the advantages of our decentralized approach that puts security and usability
        first.
      </p>
    </div>

    <ul class="space-y-8 font-mono text-lg">
      <li class="flex items-center gap-4">
        <div class="w-6 h-6 text-green-400 shrink-0" set:html={checkmarkIcon} />
        <span>Secure and decentralised and more text to be added here</span>
      </li>
      <li class="flex items-center gap-4">
        <div class="w-6 h-6 text-green-400 shrink-0" set:html={checkmarkIcon} />
        <span>User and developer friendly and more text to be added</span>
      </li>
      <li class="flex items-center gap-4">
        <div class="w-6 h-6 text-green-400 shrink-0" set:html={checkmarkIcon} />
        <span>Open standards and open source and more text to be added</span>
      </li>
      <li class="flex items-center gap-4">
        <div class="w-6 h-6 text-green-400 shrink-0" set:html={checkmarkIcon} />
        <span>Offline verification and more text to be added here</span>
      </li>
    </ul>
  </div>
</section>
