---
import Banner from "./Banner.astro";
import xkcdImage from "../../assets/images/xkcd.svg";
import audioGif from "../../assets/images/audio-final.gif";
import bbcImage from "../../assets/images/bbc.png";
---

<div class="mt-6 md:mt-14 relative overflow-hidden w-full">
  <div class="carousel-scroll flex gap-8 items-center" id="carousel">
    {
      [...Array(2)].map(() => (
        <div class="flex gap-8 sm:gap-16 items-center min-w-max pr-4 sm:pr-8">
          <div class="relative pb-3">
            <Banner message="Developers! Developers! Developers!" source="sb@microsoft.com" />
          </div>
          <div class="relative pb-3">
            <Banner type="image" source="xkcd.com" imageSrc={xkcdImage} imageAlt="XKCD comic" />
          </div>

          <div class="relative pb-3">
            <Banner message="You shall not pass!" source="gandalf@ring.company" />
          </div>

          <div class="relative pb-3">
            <Banner type="image" source="xkcd.com" imageSrc={audioGif} imageAlt="XKCD comic" />
          </div>

          <div class="relative pb-3">
            <Banner message="Rrrruuuurrr" source="chewbacca@kashyyyk.space" />
          </div>

          <div class="relative">
            <img src={bbcImage.src} alt="BBC News" class="w-70 h-auto rounded-lg shadow-md" />
          </div>

          <div class="relative pb-3">
            <Banner message="Winter is coming" source="jon@nightswatch.mil" />
          </div>
        </div>
      ))
    }
  </div>

  <style>
    @keyframes scroll {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-50%);
      }
    }
    .carousel-scroll {
      display: flex;
      width: max-content;
      animation: scroll 30s linear infinite;
    }
    @media (min-width: 768px) {
      .carousel-scroll {
        animation: scroll 30s linear infinite;
      }
    }
    .carousel-paused {
      animation-play-state: paused;
    }
  </style>
</div>
<!-- This script is used to pause the carousel when the mouse is over it or tap on mobile -->
<script>
  const carousel = document.getElementById("carousel");
  let isPaused = false;

  const mediaQuery = window.matchMedia("(hover: hover)");
  if (mediaQuery.matches) {
    carousel?.addEventListener("mouseenter", () => {
      carousel.classList.add("carousel-paused");
    });

    carousel?.addEventListener("mouseleave", () => {
      carousel.classList.remove("carousel-paused");
    });
  }

  carousel?.addEventListener("click", () => {
    isPaused = !isPaused;
    carousel.classList.toggle("carousel-paused", isPaused);
  });
</script>
