---
import CarouselItem from "./CarouselItem.astro";
import xkcdImage from "../../assets/images/xkcd.svg";
import audioGif from "../../assets/images/audio.gif";
import codeImage from "../../assets/images/code.png";
---

<div class="mt-6 md:mt-14 relative overflow-hidden w-full">
  <div class="carousel-scroll flex gap-8 items-center" id="carousel">
    {
      [...Array(2)].map(() => (
        <div class="flex gap-8 sm:gap-16 items-center min-w-max pr-4 sm:pr-8">
          <CarouselItem
            message="Developers! Developers! Developers!"
            source="sb@microsoft.com"
            bottomLeftWidth={115}
            bottomRightWidth={115}
          />
          <CarouselItem
            type="image"
            source="xkcd.com"
            imageSrc={xkcdImage}
            imageAlt="XKCD comic"
            bottomLeftWidth={50}
            bottomRightWidth={50}
            imageWidth={190}
            imageHeight={90}
            paddingLeft={16}
            paddingRight={16}
          />
          <CarouselItem message="You shall not pass!" source="gandalf@ring.company" />
          <CarouselItem
            type="image"
            source="spotify.com"
            imageSrc={audioGif}
            imageAlt="XKCD comic"
            bottomLeftWidth={40}
            bottomRightWidth={40}
            paddingLeft={0}
            paddingRight={0}
            imageWidth={250}
          />
          <CarouselItem message="Rrrruuuurrr" source="chewbacca@kashyyyk.space" />
          <CarouselItem
            type="image"
            source="bbc.com"
            imageSrc={codeImage}
            imageAlt="BBC News"
            bottomLeftWidth={100}
            bottomRightWidth={100}
            imageWidth={300}
            imageHeight={90}
            paddingLeft={16}
            paddingRight={16}
          />
          <CarouselItem message="Winter is coming" source="jon@nightswatch.mil" />
        </div>
      ))
    }
  </div>

  <style>
    @keyframes scroll {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-50%);
      }
    }
    .carousel-scroll {
      display: flex;
      width: max-content;
      animation: scroll 30s linear infinite;
    }
    @media (min-width: 768px) {
      .carousel-scroll {
        animation: scroll 30s linear infinite;
      }
    }
    .carousel-paused {
      animation-play-state: paused;
    }
  </style>
</div>
<!-- This script is used to pause the carousel when the mouse is over it or tap on mobile -->
<script>
  const carousel = document.getElementById("carousel");
  let isPaused = false;

  const mediaQuery = window.matchMedia("(hover: hover)");
  if (mediaQuery.matches) {
    carousel?.addEventListener("mouseenter", () => {
      carousel.classList.add("carousel-paused");
    });

    carousel?.addEventListener("mouseleave", () => {
      carousel.classList.remove("carousel-paused");
    });
  }

  carousel?.addEventListener("click", () => {
    isPaused = !isPaused;
    carousel.classList.toggle("carousel-paused", isPaused);
  });
</script>
