<section class="px-6 py-16">
  <div class="max-w-7xl mx-auto text-center">
    <h1 class="text-[5em] font-bold mb-8 leading-tight">
      <span class="text-green-400">User- and developer-friendly</span>
      <br />
      authentication based on DNS
    </h1>
    <p class="text-xl text-neutral-300 mx-auto max-w-4xl">
      The decentralised protocol to securely attribute content to domain names – without the
      Internet or passwords.
    </p>
  </div>
</section>
