:root {
  --border-width: 3px;
  --border-color-primary: #f59e0b;
  --border-color-secondary: #22c55e;
  --border-inset: -3px;
}

.border-conic {
  position: relative;
  background-origin: padding-box, border-box;
  background-clip: padding-box, border-box;
  border: solid var(--border-width) transparent;
  background-image:
    linear-gradient(to right, black, black),
    conic-gradient(
      from 0deg,
      var(--border-color-secondary) var(--angle, 0deg),
      var(--border-color-primary) var(--angle, 0deg)
    );
}

.border-conic--progress {
  --angle: calc(var(--progress, 0) * 360deg);
}

.border-conic--animated {
  animation: fillBorder var(--animation-duration) linear forwards;
}

@keyframes fillBorder {
  0% {
    background-image:
      linear-gradient(to right, black, black),
      conic-gradient(
        from 0deg,
        var(--border-color-secondary) 0deg,
        var(--border-color-primary) 0deg
      );
  }
  25% {
    background-image:
      linear-gradient(to right, black, black),
      conic-gradient(
        from 0deg,
        var(--border-color-secondary) 90deg,
        var(--border-color-primary) 90deg
      );
  }
  50% {
    background-image:
      linear-gradient(to right, black, black),
      conic-gradient(
        from 0deg,
        var(--border-color-secondary) 180deg,
        var(--border-color-primary) 180deg
      );
  }
  75% {
    background-image:
      linear-gradient(to right, black, black),
      conic-gradient(
        from 0deg,
        var(--border-color-secondary) 270deg,
        var(--border-color-primary) 270deg
      );
  }
  100% {
    background-image:
      linear-gradient(to right, black, black),
      conic-gradient(
        from 0deg,
        var(--border-color-secondary) 360deg,
        var(--border-color-primary) 360deg
      );
  }
}
