---
import CarouselItem from "./Item.astro";
import xkcdImage from "../../../assets/images/xkcd.svg";
import audioGif from "../../../assets/images/audio.gif";
import codeImage from "../../../assets/images/code.png";
import "./Scrolling.css";
import PauseController from "./PauseController";
---

<div class="mt-6 md:mt-12 relative overflow-hidden w-full">
  <div id="carousel" class="carousel-scroll flex gap-8 items-center">
    {
      [...Array(2)].map(() => (
        <div class="flex gap-8 sm:gap-16 items-center min-w-max pr-4 sm:pr-8">
          <CarouselItem
            message="Developers! Developers! Developers!"
            source="sb@microsoft.com"
            bottomWidth={115}
          />
          <CarouselItem
            type="image"
            source="xkcd.com"
            imageSrc={xkcdImage}
            imageAlt="XKCD comic"
            bottomWidth={40}
            padding={16}
          />
          <CarouselItem message="You shall not pass!" source="gandalf@ring.company" />
          <CarouselItem
            type="image"
            source="spotify.com"
            imageSrc={audioGif}
            imageAlt="XKCD comic"
            bottomWidth={40}
            padding={16}
          />
          <CarouselItem message="Rrrruuuurrr" source="chewbacca@kashyyyk.space" />
          <CarouselItem
            type="image"
            source="bbc.com"
            imageSrc={codeImage}
            imageAlt="BBC News"
            bottomWidth={95}
            padding={16}
          />
          <CarouselItem message="Winter is coming" source="jon@nightswatch.mil" />
        </div>
      ))
    }
  </div>
</div>

<PauseController client:load />
