---
import TabbedCodeSnippet, { type CodeTab } from "./CodeTabsReact.tsx";

interface Props {
  tabs: CodeTab[];
  class?: string;
}

const { tabs, class: className } = Astro.props;
---

<div class={className}>
  <TabbedCodeSnippet tabs={tabs} client:load />
</div>
