---
import CtaButton from "./CtaButton.astro";
import AnimatedSection from "./common/AnimatedSection";
---

<section class="py-8 lg:py-16 px-4 lg:px-6">
  <AnimatedSection client:visible>
    <div
      class="max-w-6xl mx-auto items-center justify-center text-center px-4 lg:px-6 space-y-8 bg-neutral-800 py-8 lg:py-16 rounded-3xl"
    >
      <h2 class="text-3xl sm:text-4xl md:text-5xl lg:text-6xl">Try it yourself!</h2>
      <p class="text-sm sm:text-base md:text-lg lg:text-xl mb-8">
        Run Kliento with your own domain name on your own computer.
      </p>
      <CtaButton href="/kliento/demo" text="Try Kliento locally" variant="primaryKliento" />
    </div>
  </AnimatedSection>
</section>
