---
import CtaButton from "./CtaButton.astro";
---

<section class="py-8 lg:py-16 px-4 lg:px-6">
  <div
    class="max-w-6xl mx-auto items-center justify-center text-center px-4 lg:px-6 space-y-8 bg-neutral-800 py-8 lg:py-16 rounded-3xl"
  >
    <h2 class="text-3xl sm:text-4xl md:text-5xl lg:text-6xl">Try it yourself!</h2>
    <p class="text-sm sm:text-base md:text-lg lg:text-xl mb-8">
      Run Kliento on your own computer. All you need is a domain name and Docker Compose!
    </p>
    <CtaButton href="/kliento/demo" text="Try demo locally" variant="primaryKliento" />
  </div>
</section>
