---
import { Image } from "astro:assets";
import RedditIcon from "../assets/Icons/reddit.svg";
import VeraIdLogo from "../assets/veraid-logo-dark.png";
---

<footer class="py-16 mx-auto text-sm bg-neutral-950">
  <div class="max-w-7xl mx-auto px-6">
    <div class="grid grid-cols-1 md:grid-cols-[1fr_auto_auto] gap-8 md:gap-24">
      <div class="space-y-4">
        <Image src={VeraIdLogo} alt="VeraId Logo" class="h-8 w-auto" />
        <p class="text-sm">User-and developer-friendly authentication based on DNS.</p>
        <div class="flex gap-4 [&>a]:text-neutral-400 [&>a]:hover:text-neutral-300">
          <a href="https://x.com/CheVeraId">
            <svg class="h-6 w-6" viewBox="0 0 24 24" fill="currentColor">
              <path
                d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z"
              ></path>
            </svg>
          </a>
          <a href="https://github.com/relaycorp/veraid-website">
            <svg class="h-6 w-6" viewBox="0 0 24 24" fill="currentColor">
              <path
                d="M12 2C6.477 2 2 6.477 2 12c0 4.42 2.865 8.17 6.839 9.49.5.092.682-.217.682-.482 0-.237-.008-.866-.013-1.7-2.782.603-3.369-1.34-3.369-1.34-.454-1.156-1.11-1.464-1.11-1.464-.908-.62.069-.608.069-.608 1.003.07 1.531 1.03 1.531 1.03.892 1.529 2.341 1.087 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.11-4.555-4.943 0-1.091.39-1.984 1.029-2.683-.103-.253-.446-1.27.098-2.647 0 0 .84-.269 2.75 1.025A9.578 9.578 0 0112 6.836c.85.004 1.705.114 2.504.336 1.909-1.294 2.747-1.025 2.747-1.025.546 1.377.203 2.394.1 2.647.64.699 1.028 1.592 1.028 2.683 0 3.842-2.339 4.687-4.566 4.935.359.309.678.919.678 1.852 0 1.336-.012 2.415-.012 2.743 0 .267.18.578.688.48C19.138 20.167 22 16.418 22 12c0-5.523-4.477-10-10-10z"
              ></path>
            </svg>
          </a>
          <a href="https://www.reddit.com/r/VeraId/about/">
            <svg class="h-6 w-6" viewBox="0 0 512 512" fill="currentColor">
              <path d="M201.5 305.5c-13.8 0-24.9-11.1-24.9-24.6 0-13.8 11.1-24.9 24.9-24.9 13.6 0 24.6 11.1 24.6 24.9 0 13.6-11.1 24.6-24.6 24.6zM504 256c0 137-111 248-248 248S8 393 8 256 119 8 256 8s248 111 248 248zm-132.3-41.2c-9.4 0-17.7 3.9-23.8 10-22.4-15.5-52.6-25.5-86.1-26.6l17.4-78.3 55.4 12.5c0 13.6 11.1 24.6 24.6 24.6 13.8 0 24.9-11.3 24.9-24.9s-11.1-24.9-24.9-24.9c-9.7 0-18 5.8-22.1 13.8l-61.2-13.6c-3-.8-6.1 1.4-6.9 4.4l-19.1 86.4c-33.2 1.4-63.1 11.3-85.5 26.8-6.1-6.4-14.7-10.2-24.1-10.2-34.9 0-46.3 46.9-14.4 62.8-1.1 5-1.7 10.2-1.7 15.5 0 52.6 59.2 95.2 132 95.2 73.1 0 132.3-42.6 132.3-95.2 0-5.3-.6-10.8-1.9-15.8 31.3-16 19.8-62.5-14.9-62.5zM302.8 331c-18.2 18.2-76.1 17.9-93.6 0-2.2-2.2-6.1-2.2-8.3 0-2.5 2.5-2.5 6.4 0 8.6 22.8 22.8 87.3 22.8 110.2 0 2.5-2.2 2.5-6.1 0-8.6-2.2-2.2-6.1-2.2-8.3 0zm7.7-75c-13.6 0-24.6 11.1-24.6 24.9 0 13.6 11.1 24.6 24.6 24.6 13.8 0 24.9-11.1 24.9-24.6 0-13.8-11-24.9-24.9-24.9z"/>
            </svg>
          </a>
        </div>
      </div>

      <div class="space-y-4 [&>ul>li>a]:text-neutral-400 [&>ul>li>a]:hover:text-neutral-300">
        <h3>VERAID</h3>
        <ul class="space-y-4">
          <li><a href="/prior-art">Prior art</a></li>
          <li><a href="/user-experience">User Experience</a></li>
          <li><a href="/architecture">Architecture</a></li>
          <li><a href="/prototype">VeraId prototype</a></li>
          <li><a href="https://github.com/relaycorp/veraid-website">GitHub Repo</a></li>
        </ul>
      </div>

      <div class="space-y-4 [&>ul>li>a]:text-neutral-400 [&>ul>li>a]:hover:text-neutral-300">
        <h3>RELAYCORP</h3>
        <ul class="space-y-4">
          <li><a href="https://relaycorp.tech/">Contact us</a></li>
          <li>
            <a href="https://github.com/relaycorp/.github/blob/master/SECURITY.md"
              >Security policy</a>
          </li>
          <li><a href="https://awala.app/en/">Awala</a></li>
          <li><a href="https://letro.app/en/">Letro</a></li>
        </ul>
      </div>
    </div>

    <div class="mt-8">
      Copyright 2022-2025 by <a
        href="https://relaycorp.tech"
        class="text-green-300 hover:text-green-200">Relaycorp</a
      >.
    </div>
  </div>
</footer>
