<section class="py-8 sm:py-16 bg-black">
  <div class="px-4 sm:px-6 mx-auto max-w-6xl">
    <h1
      class="text-3xl sm:text-5xl md:text-6xl lg:text-7xl text-white font-bold text-center leading-tight"
    >
      Workload authentication <br />made simple
    </h1>
    <p class="mt-8 text-center text-xl">Without secrets to protect or tokens to verify remotely.</p>
  </div>
</section>
