---
import ComparisonTable from "./ComparisonTable.astro";
import CtaButton from "../CtaButton.astro";

const features = [
  { name: "No long-lived secrets", kliento: true, apiKeys: false, jwts: false, spifee: false },
  { name: "No public key distribution", kliento: true, apiKeys: true, jwts: false, spifee: false },
  {
    name: "Open, vendor-neutral protocol",
    kliento: true,
    apiKeys: false,
    jwts: true,
    spifee: true,
  },
  { name: "Open source implementations", kliento: true, apiKeys: true, jwts: true, spifee: true },
];
---

<section class="py-8 lg:py-16 bg-neutral-900">
  <div class="max-w-5xl mx-auto items-center justify-center px-4 lg:px-6 space-y-6 lg:space-y-12">
    <h2 class="text-3xl sm:text-4xl md:text-5xl lg:text-[3.5rem] text-white font-bold text-center">
      Kliento compared to others
    </h2>
    <ComparisonTable features={features} />
    <div class="flex justify-center">
      <CtaButton
        href="/"
        text="See how Kliento compares to its alternatives"
        variant="primaryKliento"
      />
    </div>
  </div>
</section>
