---
import ComparisonTable from "./ComparisonTable.astro";
import CtaButton from "../CtaButton.astro";
import { AnimatedSection } from "../AnimatedSection";
const features = [
  { name: "No long-lived secrets", kliento: true, apiKeys: false, jwts: true, spiffe: true },
  { name: "No public key distribution", kliento: true, apiKeys: true, jwts: false, spiffe: false },
  {
    name: "Open, vendor-neutral protocol",
    kliento: true,
    apiKeys: false,
    jwts: true,
    spiffe: true,
  },
  { name: "Open source implementations", kliento: true, apiKeys: true, jwts: true, spiffe: true },
];

const columnHeaders = [
  { name: "Features" },
  { name: "Kliento" },
  { name: "Opaque API keys" },
  { name: "JWTs" },
  { name: "SPIFFE" },
];
---

<section class="py-8 lg:py-16 bg-neutral-900">
  <AnimatedSection animation="slide-up" client:load duration="slow">
    <div class="max-w-5xl mx-auto items-center justify-center px-4 lg:px-6 space-y-6 lg:space-y-12">
      <h2 class="text-3xl sm:text-4xl md:text-5xl lg:text-[3.5rem] text-center">
        Kliento compared to others
      </h2>
      <div class="overflow-x-auto w-full">
        <ComparisonTable features={features} columnHeaders={columnHeaders} />
      </div>
      <div class="flex justify-center">
        <CtaButton
          href="/"
          text="See how Kliento compares to its alternatives"
          variant="primaryKliento"
        />
      </div>
    </div>
  </AnimatedSection>
</section>
