---
import placeholder from "../../assets/images/placeholder.png";
import CtaButton from "../CtaButton.astro";
---

<section class="py-16">
  <div class="mx-auto max-w-6xl">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-16 items-center">
      <div class="order-2 lg:order-1">
        <div class="flex justify-center items-center">
          <img src={placeholder.src} alt="Founder" />
        </div>
      </div>

      <div class="text-left order-1 lg:order-2 space-y-6 text-base">
        <h2 class="text-2xl md:text-5xl text-white font-bold">
          Kliento credentials are <span
            class="bg-gradient-to-r from-indigo-600 via-indigo-400 to-indigo-200 text-transparent bg-clip-text"
            >self-contained</span
          >
        </h2>
        <p>
          Kliento is powered by VeraId, a DNSSEC-powered authentication protocol that attributes
          digital signatures to domain names.
        </p>
        <p>
          Such signatures contain the entire trust chain, so they can be verified locally without
          making remote API calls or configuring trust anchors.
        </p>
        <p>
          Kliento <i>token bundles</i> are <b>short-lived</b> VeraId signatures, so they too can be verified
          entirely offline.
        </p>
        <CtaButton href="/kliento/signup" text="Read technical overview" variant="primaryKliento" />
      </div>
    </div>
  </div>
</section>
