<section class="py-8 sm:py-16 bg-black">
  <div class="px-4 sm:px-6 mx-auto max-w-7xl space-y-4 lg:space-y-8">
    <h1
      class="text-[2.5rem] sm:text-5xl md:text-6xl lg:text-[5.5rem] text-white font-bold text-center leading-tight"
    >
      <span
        class="bg-gradient-to-r from-indigo-600 via-indigo-400 to-indigo-200 text-transparent bg-clip-text"
        >Workload authentication</span
      >
      <br />made simple
    </h1>
    <p class="text-center text-base md:text-xl lg:text-2xl">
      Without secrets to protect or tokens to verify remotely
    </p>
  </div>
</section>
