---
import VeraidIdentifier from "./VeraidIdentifier.astro";
---

<section class="bg-neutral-900 py-10 lg:py-16">
  <div class="mx-auto max-w-6xl px-4 lg:px-6">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-6 lg:gap-16">
      <div class="order-1">
        <h2 class="text-3xl sm:text-4xl md:text-5xl lg:text-[3.5rem] leading-tight">
          Kliento brings <span
            class="bg-gradient-to-r from-indigo-600 via-indigo-400 to-indigo-200 text-transparent bg-clip-text"
            >service accounts</span
          > to the Internet
        </h2>
      </div>

      <div class="text-left order-2 space-y-6 &div:p text-base">
        <p class="text-md sm:text-lg md:text-xl">
          Think AWS roles, Azure managed identities, Kubernetes service accounts and GCP service
          accounts, but for the entire Internet.
        </p>
        <VeraidIdentifier />
      </div>
    </div>
  </div>
</section>
