---
import TabbedCodeSnippet from "../CodeTabsReact.tsx";
import CtaButton from "../CtaButton.astro";
import ComparisonTable from "./ComparisonTable.astro";

const features = [
  { name: "No long-lived secrets", kliento: true, apiKeys: false, jwts: false, spifee: false },
  { name: "No public key distribution", kliento: true, apiKeys: true, jwts: false, spifee: false },
  {
    name: "Open, vendor-neutral protocol",
    kliento: true,
    apiKeys: false,
    jwts: true,
    spifee: true,
  },
  { name: "Open source implementations", kliento: true, apiKeys: true, jwts: true, spifee: true },
];
---

<section class="bg-neutral-900 py-16">
  <div class="max-w-5xl mx-auto items-center justify-center text-center px-6 space-y-8">
    <h2 class="text-2xl md:text-5xl text-white font-bold">Client integration</h2>
    <p class="text-sm md:text-lg mb-8 max-w-4xl mx-auto">
      Leverage your existing workflow identity to obtain Kliento token bundles from <a
        href="https://veraid.org"
        class="text-indigo-400!">VeraId Authority</a
      >.
    </p>
    <TabbedCodeSnippet
      client:load
      tabs={[
        {
          label: "JavaScript",
          language: "javascript",
          code: `import { initExchangerFromEnv } from '@veraid/authority-credentials';

// Replace with the actual URL for exchanging credentials
const EXCHANGE_ENDPOINT = new URL('https://veraid-authority.example/credentials/123');

// Replace 'GITHUB' with the exchanger you want
const exchanger = initExchangerFromEnv('GITHUB');

// Make requests that use the Kliento token bundle
export async function authFetch(request: Request) {
  const { credential: tokenBundle } = await exchanger.exchange(EXCHANGE_ENDPOINT);
  const headers = { 'Authorization': \`Kliento \${tokenBundle.toString('base64')}\` }
  return fetch(request, { headers })
}`,
        },
        {
          label: "GitHub Action",
          language: "yaml",
          code: `jobs:
  authentication:
    runs-on: ubuntu-latest

    steps:
      - name: Get Kliento token bundle
        id: token-bundle
        uses: CheVeraId/authority-credentials-action@v1
        with:
          exchange-endpoint: https://veraid-authority.example/credentials/123
      - name: Use token bundle
        run: curl -H "Authorization: Kliento \${TOKEN_BUNDLE}" https://api.example.com
        environment:
          TOKEN_BUNDLE: \${{ steps.token-bundle.outputs.credential }}`,
        },
        {
          label: "Others",
          language: "python",
          code: `Other languages coming soon`,
        },
      ]}
    />
    <div class="mt-8">
      <CtaButton href="/" text="Integrate your client" variant="primaryKliento" />
    </div>
  </div>
</section>
<section class="bg-black py-16">
  <div class="max-w-5xl mx-auto items-center justify-center text-center px-6 space-y-8">
    <h2 class="text-2xl md:text-5xl text-white font-bold">Server-side verification</h2>
    <p class="text-sm md:text-lg mb-8">
      Servers verify tokens by making a call to a local function provided by a Kliento SDK, or
      offload the verification to a stateless, cloud-agnostic open source server.
    </p>
    <TabbedCodeSnippet
      client:load
      tabs={[
        {
          label: "JavaScript",
          language: "JavaScript",
          code: `import { TokenBundle } from '@veraid/kliento';

// Replace with a unique identifier for your server
const AUDIENCE = 'https://api.example.com';

// Verify \`Authorization: Kliento <token>\` request header
async function verifyTokenBundle(authHeaderValue: string) {
    const tokenBundle = TokenBundle.deserialiseFromAuthHeader(authHeaderValue);
    return await tokenBundle.verify(AUDIENCE);
}`,
        },
        {
          label: "Others",
          language: "python",
          code: `Other languages coming soon`,
        },
      ]}
    />
    <div class="mt-8">
      <CtaButton href="/" text="Verify credentials" variant="primaryKliento" />
    </div>
  </div>
</section>
<section class="bg-neutral-900 py-16">
  <div class="max-w-5xl mx-auto items-center justify-center px-6 space-y-12">
    <h2 class="text-2xl md:text-5xl text-white font-bold text-center">
      Kliento compared to others
    </h2>
    <ComparisonTable features={features} />
    <div class="flex justify-center">
      <CtaButton
        href="/"
        text="See how Kliento compares to its alternatives"
        variant="primaryKliento"
      />
    </div>
  </div>
</section>
