---
const identifiers = [
  "api@prod.customer.app",
  "wordpress@company.blog",
  "api.customer.com",
  "customer.app",
  "repo@organisation.github.io",
];
---

<div
  class="w-full h-[64px] overflow-hidden rounded-md border-2 border-neutral-700 bg-neutral-800 text-lg relative carousel-container"
>
  <div class="absolute top-0 left-0 w-full text-wrapper text-white">
    {
      identifiers.map((identifier) => (
        <div class="h-[60px] flex items-center justify-center px-4">{identifier}</div>
      ))
    }
  </div>
</div>

<style>
  .text-wrapper {
    animation: slideUp 12s ease-in-out infinite;
  }

  @keyframes slideUp {
    0% {
      transform: translateY(0);
    }
    15% {
      transform: translateY(0);
    }

    20% {
      transform: translateY(-60px);
    }
    35% {
      transform: translateY(-60px);
    }

    40% {
      transform: translateY(-120px);
    }
    55% {
      transform: translateY(-120px);
    }

    60% {
      transform: translateY(-180px);
    }
    75% {
      transform: translateY(-180px);
    }

    80% {
      transform: translateY(-240px);
    }
    95% {
      transform: translateY(-240px);
    }

    100% {
      transform: translateY(0);
    }
  }
</style>
