---
import { SecondaryNav } from "../components/TopNav/SecondaryNav";
import Page from "./Page.astro";
import klientoLogo from "../assets/images/kliento-logo.svg";
import "../styles/kliento.css";
---

<Page {...Astro.props} showBrandInTitle={false}>
  <SecondaryNav
    client:load
    servicePath="/kliento"
    logoSrc={klientoLogo.src}
    slot="kliento-header"
  />
  <div class="kliento-content scrollbar">
    <slot />
  </div>
</Page>
