---
import ServicePage from "../../layouts/ServicePage.astro";
---

<ServicePage title="Kliento" description="Kliento" service="Kliento">
  <section class="py-16">
    <div class="px-4 mx-auto max-w-5xl sm:px-6 lg:px-8">
      <h1 class="mb-4 text-6xl font-bold text-center leading-tight">
        Connect to external servers from AWS without API keys
      </h1>
    </div>
  </section>
</ServicePage>
